body {
    min-width: auto;
    max-width: 100%;
    color: b1ddc6;
    background-color: #E6E3D9;
    background-position: center;
    font-family: Georgia, Times, serif;
    text-align: center;
    text-justify: auto;
    margin: 0px;
}
header {
    height: 10%;
    width: 100%;
    background-color: #48443e;
    margin: 0px;
}
h1 {
    background-color: #48443e;
    font-family: Kunstler Script, Monotype Corsiva, cursive;
    font-size: 300%;
    margin: 0px;
}
nav {
    clear: both;
    color: #b1ddc6;
}
nav ul {
    margin: 0px;
}
nav li {
    display: inline;
    margin-right: 3%;
}
nav li a {
    color: #ffffff;
}
nav li a:hover, nav li.acurrent {
    color: #000000;
}
figure {
    float: left;
    min-width: auto;
    max-width: 50%;
    max-height: 35%;
    min-height: auto;
    padding: 5px;
    margin: 20px;
    border: 3px solid #ffffff;
}
img {
    min-width: auto;
    max-width: 100%;
    max-height: 100%;
    min-height: auto;
}
p.quote {
    font-family: Kunstler Script, Monotype Corsiva, cursive;
    font-size: 470%;
    text-align: center;
}
p {
    text-align: justify;
    text-justify: auto;
footer {
    height: 15%;
    width: auto;
    color: #ffffff;
    background-color: #48443e;
    clear: both;
}







